/* User Story #13: The navbar should always be at the top of the viewport.*/
/* User Story #14: My product landing page should have at least one media query.*/
/* User Story #15: My product landing page should utilize CSS flexbox at least once.*/

#header {
	width: 100%;
	height: auto;
	background-color: green;
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
	display: flex-box;
}

#about {
	height: 500px;
	background-color: red;
	width: 100%;
	padding-top: 100px;
}

#order {
	height: 500px;
	background: blue;
	width: 100%
}

#pricing {
	height: 500px;
	background: orange;
	width: 100%
}